<!DOCTYPE html>
<html lang="en">
<head>
<title>D&amp;D Footer</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body xmlns:th="http://www.thymeleaf.org">
	<footer class="navbar-inverse navbar-fixed-bottom" th:fragment="footer">
		<div class="text-center text-muted">Your Destiny RPG loot resource since sometime in the future.</div>
	</footer>
</body>
</html>