@CHARSET "UTF-8";

button.COMMON, button.UNCOMMON, button.RARE, button.LEGENDARY, button.EXOTIC {
   border-style: solid;
   border-color: darkgrey;
   background-color: black;
}

.UNCOMMON {
   color: #4FD644;
}

.RARE {
   color: #82C9F7;
}

.LEGENDARY {
   color: #B755D2;
}

.EXOTIC {
   color: Gold
}

.COMMON {
   color: GhostWhite
}

.col-centered {
   float: none;
   margin: auto auto;
}