<!DOCTYPE html>
<html lang="en">
<head>
<title>Cryptarch</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(function() {
		$(".nav").find(".active").removeClass("active");
		$("#navCryptarch").addClass("active");
	});
</script>
</head>
<body xmlns:th="http://www.thymeleaf.org">
	<nav class="navbar navbar-inverse" th:replace="fragments/header :: header">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Destiny &amp; Desirables</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="#">Home</a></li>
				<li class="active"><a href="/loot">Cryptarch</a></li>
			</ul>
		</div>
	</nav>
	<div class="container text-center">
		<h2>
			Cryptarch<br /> <small>A Cryptarch for your RPG experience.</small>
		</h2>
	</div>
	<footer class="navbar-inverse navbar-fixed-bottom" th:replace="fragments/footer :: footer">
		<div class="text-center text-muted">This is test footer text.</div>
	</footer>
</body>
</html>